* {
    margin: 0; padding: 0; border: 0; 
    box-sizing: border-box;

 }
 * {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
.hey{
    background-color: #DA7B93;
}
a:hover{
    color: #000000;
    background: #DA7B93;
}
/* Navigation */
.nav-container {
    min-height: 100vh;
    background: #ffffff;
    box-shadow:0px 0px 24px rgba(0, 0, 0, 0.2);
    height: 72px;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 72px;
}
nav ul{
    display:flex;
}
nav .logo-pic{
    list-style: none;
    size: auto;
    
}

.nav-items li {
    list-style: none;
    margin-right: 50px;

}
.nav-items li a{
    color: #021718;
    font-size:15px;
    font-style: Bold;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}

.nav-items li:nth-last-of-type(1){
    margin:3;
}

.left {
    width: 100vw;
    background-color: rgb(218, 123, 147);
}

#container .left h1{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

#container1{
    min-height: 90vh;
    display: flex;
}
#container1 .about{
    width: 45vw;
    background-color: rgb(47, 68, 84);
}
.pic img{
    padding: 40px 70px;
}
#container1 .text{
    width: 100vw;
    background-color: rgb(47, 68, 84);


}
.oh{
    width: 10vw;
    background-color: rgb(47, 68, 84);

}


/*
.text h1{
    color: rgb(218, 123, 147);
    font-family: "Open-Sans", sans-serif;
    letter-spacing: 3px;
    font-size: 50px;
}


.text p{
    color: #ffffff;
    font-family: "Open-Sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    opacity: 0.7;

    font-weight: lighter;

}*/
#experience{
    min-height: 5vh;
    background-color: rgb(218, 123, 147);
}

#existing{
    min-height: 25vh;
    background-color: rgb(218, 123, 147);
}
.existing{
    width: 100vw;
}
.existing img{
    width: 5px;
}

.ex h1{
    text-align: center;
    padding: 20px;
}
#experience ul li{
    padding: 15px 70px;
    color: #ffffff;
    opacity: 0.9;
}
.hero-image-h{
    float: left;
    width: 33.33%;
    align-items: center;
    padding: 150px;
}  
  /* Clear floats after image containers */
  .ex::after {
    content: "";
    clear: both;
    display: table;
  }

h1{
    color: #ffffff;

}
#information{
    min-height: 20vh;
    background-color: #2F4454;
}
.info{
    width: 100vw;
}
.info h1{
    padding: 0px 70px;

}
.info h4{
    padding: 0px 70px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-decoration: none;
    font-family: "Open-Sans", sans-serif;
    font-style: light;
    opacity: .7;

}


#copy{
    min-height: 2vh;
    display: flex;
    background-color: #2F4454;
    opacity: 0.9;
    color: #ffffff;
    font-weight: 500;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 70px;
    opacity: 0.8;
    
}
#containinfo .info h1{
    color: #ffffff;

}

#containinfo{
    min-height: 17vh;
    display: flex;
    background-color:  #DA7B93;
    opacity: 0.6;
}
#logo{
    min-height: 0vh;
    display: flex;
    background-color:  #DA7B93;
    opacity: 0.6;
}
.logoer a{
    padding: 15px 70px;
}
.logoer img{
    width: 40px;
}
