* {
    margin: 0; padding: 0; border: 0; 
    box-sizing: border-box;

 }
 * {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
}


h4{
    color: #ffffff;
    opacity: 0.7;
    font-size: 11px;
    font-family: "Open-Sans", sans-serif;
    letter-spacing: 2px;
} 
.container a:hover{
    color: #DA7B93;
}

.hey{
    background-color: #2F4454;
}
.hey2{
    background-color: #2F4454;

}
.op1{
    background-color: #2F4454;
}

#contain-work{
    min-height: 100vh;
    display: flex;
    background-color: #2F4454;
}


/* Music*/
.trailer{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background:#2F4454;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Hvis du fjerner visibility og opacity kan den ses*/
    visibility: hidden;
    opacity: 0;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    position:relative;
    max-width:500px;
    outline: none;
}

.close{
    position: absolute;
    top: 30px;
    right:30px;
    cursor:pointer;
    max-width: 32px;
}
@media (max-width: 991px){
    .trailer video{
        max-width:90%;
    }
}
/*Health Trailer*/

.healthtrailer{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: #2F4454;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Hvis du fjerner visibility og opacity kan den ses*/
    visibility: hidden;
    opacity: 0;
}
.healthtrailer.active{
    visibility: visible;
    opacity: 1;
}

.healthtrailer video{
    position:relative;
    max-width:300px;
    outline: none;
}
.close{
    position: absolute;
    top: 30px;
    right:30px;
    cursor:pointer;
    max-width: 32px;
}
@media (max-width: 991px){
    .healthtrailer video{
        max-width:90%;
    }
}
/*Fashion trailer*/
.fashiontrailer{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: #2F4454;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Hvis du fjerner visibility og opacity kan den ses*/
    visibility: hidden;
    opacity: 0;
}
.fashiontrailer.active{
    visibility: visible;
    opacity: 1;
}

.fashiontrailer video{
    position:relative;
    max-width:500px;
    outline: none;
}
.close{
    position: absolute;
    top: 30px;
    right:30px;
    cursor:pointer;
    max-width: 32px;
}
.nav.current {
    background: #2F4454;
}

@media (max-width: 991px){
    .fashiontrailer video{
        max-width:90%;
    }
}